USE [SpecialityDrinks]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 05/12/2016 18:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Brand] [nvarchar](100) NULL,
	[Size] [float] NULL,
	[Strength] [float] NULL,
	[Price] [decimal](18, 4) NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [Name], [Brand], [Size], [Strength], [Price], [Created], [Updated]) VALUES (1, N'Canadian Club 6yo / Bot. 1937', N'Canadian Club', 70, 0.452, CAST(131.3452 AS Decimal(18, 4)), CAST(N'2009-07-02 14:22:00.000' AS DateTime), CAST(N'2011-03-31 10:03:00.000' AS DateTime))
INSERT [dbo].[Products] ([ProductID], [Name], [Brand], [Size], [Strength], [Price], [Created], [Updated]) VALUES (2, N'Bruichladdich 16yo First Growth Pomerol Finish', N'Bruichladdich', 70, 0.46, CAST(49.9583 AS Decimal(18, 4)), CAST(N'2010-04-01 16:10:00.000' AS DateTime), CAST(N'2013-10-22 13:56:00.000' AS DateTime))
INSERT [dbo].[Products] ([ProductID], [Name], [Brand], [Size], [Strength], [Price], [Created], [Updated]) VALUES (3, N'Benromach 22yo / Port Pipe Finish', N'Benromach', 70, 0.45, CAST(83.2917 AS Decimal(18, 4)), CAST(N'2014-06-19 12:03:00.000' AS DateTime), CAST(N'2014-07-04 09:50:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
