@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Speciality Drinks Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">SpecialityDrinksSupport@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">SpecialityDrinksMarketing@example.com</a>
</address>